div.border {
    border: 1px solid black;
}

fieldset {
    border: 0px;
    border-color: white;
    width:500px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 750px;
    padding-bottom: 1px;
}

div.blank {
    background-color: grey;
}

.dark {
    background-color: grey;
}

.light {
    background-color: lightgrey;
}

label {
    width: 200px;
    display: inline-block;
}

div.error {
    color: red;
}
