.sidenav {
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  overflow-x: hidden;
  padding: 230px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color:green;
  display: block;
}

.sidenav a:hover {
  color: darkgreen;
}

.bg {
  background-image: url('images.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
