
input, select {
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
}

input[type=submit]{
  display: inline;
  width: 30%;
  background-color: green;
  color: white;
}

button {
  background-color: green;
  color: white;
  padding: 10;
  margin-left: 200;
}

h1 {
  text-align: center;
  color: green;
}

span {
  color: red;
  display: block;
  margin: 5px;

}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: green;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid grey;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid grey;
}


label{
    font-size: 15px;
    position: absolute;
    margin-top: 20px;
}

div input , select{
    display: inline;
    margin-left: 200px;
}

fieldset {
width: 500px;
margin-left: 400px;
}

.navigation {
  background-color: black;
  overflow: auto;
}

.navigation a {
  float: right;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: green;
}

.backgroundimage {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pagination {
  display: inline-block;
  padding-left: 500px;
  margin-top: 15px;
}

.pagination a {
    font-weight:bold;
    font-size:20px;
    color: green;
    padding: 8px 16px;
    text-decoration: none;
}

.search form {
  display: inline;
}

.search input {
  margin-left: 180;
}

.search input[type = 'submit']{
    display: inline;
    width:100;
    background-color: green;
    color: white;
    margin-left: 10;
}
