p {
  color: white;
}

.navigation {
  overflow: hidden;
  width: 100%;
  background-color: #333;
}

.navigation a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #696969;
}

.navigation-list {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.navigation-list a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.navigation-list a:hover {
  color: #f1f1f1;
}

.icon {
    display: none;
}

.heading {
  text-align: center;
  color: black;
}

h2 {
  color: red;
}

.container {
  width: 30%;
  margin: auto;
  border: 2px solid #696969;
}

.label-title {
  font-size: 18px;
  position: absolute;
  margin-top: 20px;
}

div#book-orders_paginate.dataTables_paginate.paging_simple_numbers {
  margin: auto;
  width: 50%;
}

div#books_paginate.dataTables_paginate.paging_simple_numbers {
  margin: auto;
  width: 50%;
}

div#book-content_paginate.dataTables_paginate.paging_simple_numbers {
  margin: auto;
  width: 50%;
}

div#ordered-books_paginate.dataTables_paginate.paging_simple_numbers {
  margin-right: 25%;
  width: 50%;
}

div#user-profile-contents_paginate.dataTables_paginate.paging_simple_numbers {
  margin: auto;
  width: 50%;
}

table#ordered-books.dashboard-table.dataTable.no-footer {
   width: 50%;
}

div#ordered-books_length.dataTables_length {
  float: right;
  margin-right: 25%;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-right: 30%;
}

table {
  padding-top: 1%;
}

table.profile {
  display: inline-block;
  margin-left: 20%;
}

div table {
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

th {
  color:white;
  background-color: #696969;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
  width: 10%;
  height: 10%;
  word-wrap: break-word;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
  word-wrap: break-word;
}

img {
  border-radius: 50%;
  height: 50%;
  width: auto;
  margin-left: 10%;
}

div.profile-image {
  display: inline;
}

input {
  outline: 0;
  padding: 10px 20px;
  margin-left: 40%;
  margin-top: 2%;
  border: 2px solid #696969;
  border-radius: 10px;
  width: auto;
}

input[type=submit]{
  background-color: #696969;
  color: white;
}

input.search-bar {
    position: absolute;
    margin-left: 3%;
    margin-top: 0%;
}

.stock {
  background-color: crimson;
  color: white;
  padding: 10px;
  margin-top:0;
  margin-left: 0;
  border: solid crimson;
}

.buy-button {
  background-color: grey;
  color: white;
  padding: 10px;
  margin-top:0;
  margin-left: 0;
  border: solid grey;
}

.buy-button a {
  text-decoration: none;
  color: white;
}

button.button-deactivation {
  background: red;
  border: red;
  padding: 10px;
}

button.button-activation {
  background: green;
  border: green;
  padding: 10px;
}

.radio-button {
   position: inherit;
}

select[name = bookCategory] {
    border: aliceblue;
    padding: 10px;
    margin-left: 40%;
    width: 30%;
}

select.select-city {
    width: 20%;
    margin-top: 2%;
    margin-left: 40%;
    border: 2px solid #696969;
    border-radius: 10px;
    padding: 1%;
    outline: 0;
}

select.select-category {
    padding: 2%;
    width: 40%;
    margin-left: 40%;
    margin-top: 2%;
    border: 2px solid #696969;
    border-radius: 10px;
}

fieldset.image-content {
    width: 40%;
    margin-right: 5%;
    margin-top: 2%;
    float: right;
    position: relative;
}

fieldset.profile-content {
    margin-top: 1%;
    margin-left: 5%;
    width: 40%;
    float: left;
}

fieldset.hobbies-content {
    margin-top: 1%;
    position: relative;
    margin-right: 5%;
    float: right;
    width: 40%;
}

div.book-content {
    width: 30%;
    margin-top: 5%;
    position: absolute;
    margin-left: 30%;
}

div.user-content {
    position: absolute;
    width: 30%;
    margin-top: 5%;
    margin-left: 60%;
}

div.report {
    margin-top: 5%;
}

fieldset.bookSold-report {
   margin-top: 5%;
   margin-right: auto;
   margin-left: auto;
   width: 30%;
}

.dashboard-table {
   margin-right: auto;
   margin-left: auto;
   width: 50%;
}

div.login-image {
    display: inline;
    width: 50%;
}

div.login-form {
    display: inline;
    position: absolute;
    width: 50%;
}

img.login-image {
    display: inline;
    height: 90%;
    width: 50%;
    margin-top: 1%;
    margin-left: unset;
    border-radius: unset;
}

fieldset.login-container, fieldset.signup-container{
    width: 50%;
    margin: auto;
}

span.page {
     display: inline;
     margin: 5px;
     margin-left: 0px;
}

div.select-category {
     display: contents;
     width: 50%;
     margin-top: 2%;
     margin-bottom: 2%;
}

div.searchBook {
     display: inline-block;
}

@media (max-width: 1024px) {

p {
  color: white;
}

.navigation {
  overflow: hidden;
  background-color: #333;
}

.navigation a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #696969;
}

.navigation-list {
    display: grid;
    position: unset;
    width: auto;
    height: 50%;
    overflow: hidden;
    background-color: #333;
}

.navigation-list a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.navigation-list a:hover {
  color: #f1f1f1;
}

.heading {
  text-align: center;
  color: black;
}


h2 {
  color: red;
}

.container {
    width: 80%;
    margin: auto;
    border: 2px solid #696969;
}

input {
  outline: 0;
  display: block;
  border: 2px solid #696969;
  border-radius: 10px;
  width: 100%;
  margin-left: 1%;
}

input[type=submit]{
  outline: 0;
  background-color: #696969;
  color: white;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  height: 30%;
  width: 50%;
}

div.profile-image {
  display: inline;
  width: 100%;
}

div table {
  display: inline;
  table-layout: fixed;
  border-collapse: collapse;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

th {
  color: white;
  background-color: #696969;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
  width: 10%;
  height: 10%;
  word-wrap: break-word;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
  word-wrap: break-word;
}

table.profile {
  margin: auto;
  display: table;
}

div#book-orders_paginate.dataTables_paginate.paging_simple_numbers {
  margin: unset;
  width: unset;
}

div#books_paginate.dataTables_paginate.paging_simple_numbers {
  margin: unset;
  width: unset;
}

div#book-content_paginate.dataTables_paginate.paging_simple_numbers {
  margin: unset;
  width: unset;
}

div#ordered-books_paginate.dataTables_paginate.paging_simple_numbers {
  margin-right: unset;
  width: unset;
}

div#user-profile-contents_paginate.dataTables_paginate.paging_simple_numbers {
  margin: unset;
  width: unset;
}

table#ordered-books.dashboard-table.dataTable.no-footer {
   width: 50%;
}

div#ordered-books_length.dataTables_length {
  float: right;
  margin-right: 25%;
}

div#book-content_filter.dataTables_filter {
  margin-bottom: 2%;
}

div#ordered-books_filter.dataTables_filter {
  margin-bottom: 2%;
}

div#user-profile-contents_filter.dataTables_filter {
  margin: auto;
  margin-bottom: 2%;
}

div#books_filter.dataTables_filter {
  margin-bottom: 2%;
}

div#book-orders_filter.dataTables_filter {
  margin-bottom: 2%;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-right: 30%;
}

.label-title{
  display: none;
}

.stock {
  background-color: crimson;
  color: white;
  padding: 10px;
  margin-top:0;
  margin-left: 0;
  border: solid crimson;
}

.buy-button {
  background-color: grey;
  color: white;
  padding: 10px;
  margin-top:0;
  margin-left: 0;
  border: solid grey;
}

.buy-button a {
  text-decoration: none;
  color: white;
}

button.button-deactivation {
  background: red;
  border: red;
  padding: 10px;
}

button.button-activation {
  background: green;
  border: green;
  padding: 10px;
}

div.search-book {
   display: block;
}

input.search-bar {
    display: inline-block;
    width: auto;
}

fieldset.image-content {
    margin-top: 2%;
    display: contents;
}

fieldset.profile-content {
    width: auto;
    display: contents;
}

fieldset.hobbies-content {
    width: auto;
    display: contents;
}

input[type=radio], input[type=checkbox]{
   width: 10%;
   display: inline;
}

select[name = bookCategory] {
    border: aliceblue;
    padding: 10px;
    margin-left: 20%;
    width: 50%;
}

select.select-city {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    border: 2px solid #696969;
    border-radius: 10px;
}

select.select-category {
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
    border: 2px solid #696969;
    border-radius: 10px;
}


label.radio-button {
    display: unset
}

div.book-content {
    margin-left: auto;
    width: auto;
    margin-top: 5%;
    position: relative;
}

div.user-content {
    position: relative;
    width: auto;
    margin-top: 5%;
    margin-left: auto;
}

.icon {
    display: none;
}
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive .icon {
    color: white;
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  img.login-image {
    display: none;
  }

  div.login-form {
    width: 100%;
  }
}
