
input, select {
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #696969;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
}

input[type=submit]{
  display: inline;
  width: 30%;
  background-color: #696969;
  color: white;
}

button {
  background-color: grey	;
  color: white;
  padding: 14px;
  margin-left: 200;
  margin-top:10;
  border: solid grey	;
}

h1 {
  text-align: center;
  color: black;
}

span {
  color: red;
  display: block;
  margin: 5px;
  margin-left: 200px;
}

div table {
  table-layout: fixed;
  border-collapse: collapse;
  width: auto;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

th {
  background-color: #696969;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
  width: 10%;
  height: 10%;
}

td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #696969;
}


label{
    font-size: 18px;
    position: absolute;
    margin-top: 20px;
}

div input , select{
    display: inline;
    margin-left: 200px;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #696969;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
width: 500px;
margin:auto;
}


.pagination {
  margin: 30px auto 50px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.pagination a {
    font-weight:bold;
    font-size:20px;
    color: black	;
    padding: 8px 16px;
    text-decoration: none;
}

.search{
     float: left;
}

.search form {
  display: inline;
}

.search input {
    margin: 10;
}

.search input[type = 'submit']{
    display: inline;
    width:100;
    background-color: grey	;
    color: white;
    margin: 10;
}

img {
  border-radius: 50%;
  margin-left: 45%;
}

.navigation {
  overflow: hidden;
  background-color: #333;
}

.navigation a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: #696969;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 151px;
  box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #696969;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#revenue-button {
  background-color: grey	;
  color: white;
  position: absolute;
  border: solid grey	;
  margin-left: 150px;
  margin-top: 0;
}
